<app-navbar></app-navbar>
<div class="container">
<h2>Inspection and Certification center</h2>
<ul>
    <li>
        <p>
            Each year nearly one million people die worldwide in traffic accidents;
        approximately 23-24 million people suffer injuries. During period of 1986-1995 the road
        traffic toll in Asia alone has increased by 40%. The precarious situation of road
        worthiness also affects. Unfortunately at present, there is no awareness of this problem's
        size and danger in many countries and thus there is an urgent need to find out sustainable
        solution to this situation.
    </p>
    </li>
    <li>
        <p>
            An increasing number of vehicles in developing countries like India are not in a
            roadworthy state. Poor maintenance and servicing of old in use vehicles not only
            damages the environment but also poses great safety hazard on road. The compliance
            with limits or standards of vehicles exhaust emissions for air quality improvement
            purpose is directly dependent on the implementation and I or enforcement of effective
            vehicle inspection system. Due to the rapid increase in public means of transportation, the
            improvement of vehicle performance capability and servicing becomes an ever increasing
            urgency. An effective air pollution control and thus, a decrease of vehicles emissions,
            improvement of roadworthin.
        </p>
    </li>
</ul>
<br><br>
<h3>Types of Inspections carried out in a typical I&C centre are as follows.</h3>
<br>
<h4>Structure</h4>
The condition of the chassis frame (core structure) including the engine number,
chassis number and number plate which affects the structural integrity of the vehicle, are
checked.
<br><br>
<h4>Wheel System</h4>
The condition and operation of the tyres, suspension unit, shock absorber, wheel
bearing, the alignment of the wheels are checked to ensure that vehicle stability is not
compromised.
<br><br>
<h4>Braking System</h4>
The braking efficiency for both service and parking brakes are machine-tested to
ensure that they are fully functional and effective.
<br><br>
<h4>Steering System</h4>
The steering system affects the directional stability of the vehicle. During the
inspection, it is checked ifthere is excessive free play injoints and linkages.
<br><br>
<h4>Body</h4>
Checks of the body, which includes seat belts, windscreen, door latch and hinges
etc, are conducted to ensure that the various items are in working condition.
<br><br>
<h4>Communication</h4>
This comprises headlamps, reflectors, rear VIew mirror, direction indicators,
windscreen wipers and hom etc.
<br><br>
<h4>Tyres</h4>
Tyres & Road wheels for damage and tread depth
<br><br>
<h4>Propulsion System</h4>
This consists of the exhaust and drive system. The exhaust system is tested to check the smoke and noise emission levels. The emission levels have to meet
the standards stipulated by the National Environment Agency. For the drive system,
visual checks are made to ensure that there is no abnormality and that the drive shafts are
in a good condition.
</div>
